Process the data collected via SpaceX API and turn 'Outcome' column into a binary one where 1 indicates a successful landing and 0 indicates an unsuccessful landing

In [ ]:
#Install libraries
# !pip install pandas
# !pip install numpy

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Import data
df=pd.read_csv("data/dataset_part_1.csv")
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6123.547647,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [3]:
landing_outcomes = df.value_counts('Outcome')

In [4]:
#Check which keys in the series contain unsuccessful outcome values
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

In [6]:
#Assign unsuccessful outcome values to a set 
failures=set(landing_outcomes.keys()[[1,3,5,6,7]])
failures

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

In [7]:
#Create a list 'landing_class' with binary values indicating if the landing was successful (1) or unsuccessful (0)
landing_class = [0 if outcome in failures else 1 for outcome in df['Outcome']]

In [8]:
#Assign 'landing_class' to Class column of the dataframe
df['Class']=landing_class
df[['Class']].head(10)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1
8      0
9      0

In [9]:
#Export data as a csv file
df.to_csv("data/dataset_part_2.csv", index=False)