Exploratory analysis of SpaceX data using MySQL

In [2]:
%load_ext sql

In [3]:
import pandas as pd
import prettytable
prettytable.DEFAULT = 'DEFAULT'

In [4]:
from sqlalchemy import create_engine
# Create a connection string for MySQL
engine = create_engine("mysql+pymysql://root:********@localhost/spacex")
#register the engine
%sql mysql+pymysql://root:********@localhost/spacex

In [5]:
df = pd.read_csv("data/dataset_part_2.csv")
df.to_sql(name="launches", con=engine, if_exists='replace', index=False, method="multi")

90

In [7]:
%%sql 
select distinct(LaunchSite) from spacex.launches

 * mysql+pymysql://root:***@localhost/spacex
3 rows affected.

[('CCAFS SLC 40',), ('VAFB SLC 4E',), ('KSC LC 39A',)]

In [8]:
%%sql
select LaunchSite from spacex.launches where LaunchSite like 'CCA%' limit 5

 * mysql+pymysql://root:***@localhost/spacex
5 rows affected.

[('CCAFS SLC 40',),
 ('CCAFS SLC 40',),
 ('CCAFS SLC 40',),
 ('CCAFS SLC 40',),
 ('CCAFS SLC 40',)]

In [11]:
%%sql 
select sum(PayloadMass) from spacex.launches where Orbit = 'LEO'

 * mysql+pymysql://root:***@localhost/spacex
1 rows affected.

[(27179.87823529412,)]

In [12]:
%%sql 
select AVG(PayloadMass) from spacex.launches where LaunchSite = 'CCAFS SLC 40'

 * mysql+pymysql://root:***@localhost/spacex
1 rows affected.

[(5548.207786096257,)]

In [14]:
%%sql 
select min(date) from spacex.launches where Outcome = 'True Ocean'

 * mysql+pymysql://root:***@localhost/spacex
1 rows affected.

[('2014-04-18',)]

In [16]:
%%sql 
select Orbit from spacex.launches
where Outcome = 'True ASDS' and PayloadMass between 4000 and 6000

 * mysql+pymysql://root:***@localhost/spacex
7 rows affected.

[('GTO',), ('GTO',), ('GTO',), ('GTO',), ('GTO',), ('SSO',), ('ISS',)]

In [17]:
%%sql
select Outcome, count(Outcome) as count from spacex.launches group by Outcome

 * mysql+pymysql://root:***@localhost/spacex
8 rows affected.

[('None None', 19),
 ('False Ocean', 2),
 ('True Ocean', 5),
 ('False ASDS', 6),
 ('None ASDS', 2),
 ('True RTLS', 14),
 ('True ASDS', 41),
 ('False RTLS', 1)]

In [21]:
%%sql 
select Date, Orbit, Outcome, PayloadMass from spacex.launches
where PayloadMass = (select max(PayloadMass) from spacex.launches)

 * mysql+pymysql://root:***@localhost/spacex
3 rows affected.

[('2019-11-11', 'VLEO', 'True ASDS', 15600.0),
 ('2020-01-29', 'VLEO', 'True ASDS', 15600.0),
 ('2020-03-18', 'VLEO', 'False ASDS', 15600.0)]

In [23]:
%%sql
select monthname(Date), LaunchSite from spacex.launches
where Date between '2015-01-01' and '2015-12-31'

 * mysql+pymysql://root:***@localhost/spacex
6 rows affected.

[('January', 'CCAFS SLC 40'),
 ('February', 'CCAFS SLC 40'),
 ('April', 'CCAFS SLC 40'),
 ('April', 'CCAFS SLC 40'),
 ('June', 'CCAFS SLC 40'),
 ('December', 'CCAFS SLC 40')]

In [24]:
%%sql 
select Outcome, count(Outcome) as Count from spacex.launches
where Date between '2010-06-04' and '2017-03-20'
group by Outcome
order by Count desc

 * mysql+pymysql://root:***@localhost/spacex
7 rows affected.

[('None None', 9),
 ('True ASDS', 5),
 ('False ASDS', 4),
 ('True Ocean', 3),
 ('True RTLS', 3),
 ('False Ocean', 2),
 ('None ASDS', 2)]